<a href="https://colab.research.google.com/github/IrfanPavel/Jassign/blob/main/Python_Advanced.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lambda Functions**

# Lambda functions are small anonymous functions. A lambda function can take any number of arguments, but can only have one expression. Lambda functions are used along with built-in functions like filter(), map() etc. Lambda functions are used to implement functionality that can be represented in a single line of code.

In [ ]:
# lambda arguments : expression
double = lambda x: x * 2
print(double(5)) # 10

10

# **Map**

# The map() function executes a specified function for each item in an iterable.

In [ ]:
def multiply(x):
    return x * 2

numbers = [1, 2, 3, 4]
result = map(multiply, numbers)
print(list(result)) # [2, 4, 6, 8]

[2, 4, 6, 8]

# Now with lambda function

In [ ]:
numbers = [1, 2, 3, 4]
result = map(lambda x: x * 2, numbers)
print(list(result)) # [2, 4, 6, 8]

[2, 4, 6, 8]

# **Filter**

# Filter creates a list of elements for which a function returns true. The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [ ]:
result = filter(lambda x: x % 2 == 0, numbers)
print(list(result)) # [2, 4, 6]

[2, 4]

# **Reduce**

# **reduce() function is part of the functools module and is used to apply a specific function to a sequence (such as a list or tuple) and reduce it to a single value. It repeatedly applies the given function to the elements of the sequence, accumulating the result, until the entire sequence is processed and a single value is obtained**

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4]
result = reduce(lambda x, y: x * y, numbers)
print(result) # 10

24

# **Sort and lambda**

In [ ]:
a = [(0, 2), (4, 3), (9, 9), (10, -1)]
a.sort(key=lambda x: x[1])
print(a) # [(10, -1), (0, 2), (4, 3), (9, 9)]

[(10, -1), (0, 2), (4, 3), (9, 9)]

# **Ternary Operator**

# The ternary operator is a shorthand for an if-else statement. It is used to evaluate a condition and assign a value to a variable based on the condition.

In [ ]:
a, b = 10, 20
minimum = a if a < b else b
print(minimum) # 10

10

# **List Comprehension**

# List comprehension is an elegant way to define and create lists based on existing lists.

In [ ]:
[(x) for x in range(10)] # 0 1 2 3 4 5 6 7 8 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# **List Comprehension with If**

In [ ]:
[(x) for x in range(10) if x % 2 == 0] # 0 2 4 6 8

[0, 2, 4, 6, 8]

# **List Comprehension with If-Else**

In [ ]:
[(x) if x % 2 == 0 else ('odd') for x in range(10)] # odd 1 odd 3 odd 5 odd 7 odd 9

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

# **Nested List Comprehension**

In [ ]:
[[(x, y) for x in range(3)] for y in range(3)] # 0 0 1 0 2 0 1 1 1 1 2 1 2 2 2 2

[[(0, 0), (1, 0), (2, 0)], [(0, 1), (1, 1), (2, 1)], [(0, 2), (1, 2), (2, 2)]]

# **Nested for in List Comprehension**

In [ ]:
my_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_list = [num for elem in my_list for num in elem]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Dictionary Comprehension**

# If Conditional Dictionary Comprehension

In [ ]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

even_dict = {k: v for (k, v) in original_dict.items() if v % 2 == 0}
print(even_dict)

{'jack': 38, 'michael': 48}

# Multiple if Conditional Dictionary Comprehension

In [ ]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict = {k: v for (k, v) in original_dict.items() if v % 2 != 0 if v < 40}
print(new_dict)

{'john': 33}

# if-else Conditional Dictionary Comprehension

In [ ]:
original_dict = {'jack': 38, 'michael': 48, 'guido': 57, 'john': 33}

new_dict_1 = {k: ('old' if v > 40 else 'young')
    for (k, v) in original_dict.items()}
print(new_dict_1)

{'jack': 'young', 'michael': 'old', 'guido': 'old', 'john': 'young'}

# Nested Dictionary with Two Dictionary Comprehensions

In [ ]:
dictionary = {
    k1: {k2: k1 * k2 for k2 in range(1, 6)} for k1 in range(2, 5)
}
print(dictionary)

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10}, 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15}, 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20}}

In [1]:
dictionary = dict()
for k1 in range(11, 16):
    dictionary[k1] = dict()
    for k2 in range(1, 6):
        dictionary[k1][k2] = k1*k2
print(dictionary)

{11: {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}, 12: {1: 12, 2: 24, 3: 36, 4: 48, 5: 60}, 13: {1: 13, 2: 26, 3: 39, 4: 52, 5: 65}, 14: {1: 14, 2: 28, 3: 42, 4: 56, 5: 70}, 15: {1: 15, 2: 30, 3: 45, 4: 60, 5: 75}}

# **Set Comprehension**

In [ ]:
squares = {x * x for x in [1, 1, 2]}
print(squares) # {1, 4}